<div class="header">
  <div class="underHeader">
    <div class="logo">
      <h2>𝓲𝓶𝓫𝓾𝓼 𝓕𝓸𝓸𝓭</h2>
    </div>
    <div class="orderContact">
      <p class="orderText">ℂ𝕒𝕝𝕝 𝕒𝕟𝕕 𝕆𝕣𝕕𝕖𝕣 𝕚𝕟</p>
      <p class="orderNumber">049-700-700</p>
    </div>
  </div>
  <hr class="lineThrough" />
  <div class="grid">
    <div class="col">
      <img
        class="availableFood"
        src="../../assets/icons8-pizza-64.png"
        alt=""
      />
      <span class="textIcon">Pizza</span>
    </div>
    <div class="col">
      <img
        class="availableFood"
        src="../../assets/icons8-hamburger-64.png"
        alt=""
      />
      <span class="textIcon">Fast Food</span>
    </div>
    <div class="col">
      <img
        class="availableFood"
        src="../../assets/icons8-healthy-food-64.png"
        alt=""
      />
      <span class="textIcon">Healthy</span>
    </div>
    <div class="col">
      <img class="availableFood" src="../../assets/icons8-food-64.png" alt="" />
      <span class="textIcon">Pasta</span>
    </div>
    <div class="col">
      <img
        class="availableFood"
        src="../../assets/icons8-kebab-64.png"
        alt=""
      />
      <span class="textIcon">Kebab</span>
    </div>
    <div class="col">
      <img
        class="availableFood"
        src="../../assets/icons8-drink-64.png"
        alt=""
      />
      <span class="textIcon">Drinks & Coffee</span>
    </div>
  </div>
</div>
