:host {
  width: 100%;
  display: block;

  .footer {
    background-color: #2c2c2c;
    height: 550px;
    display: flex;
    flex-direction: column;

    .socialMedia {
      height: 25%;
      width: 75%;
      margin-left: auto;
      margin-right: auto;

      .media {
        padding-top: 60px;
        width: 25%;
        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        color: gray;

        .pi {
          border-radius: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
        }
      }
    }
    .logo {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      height: 25%;
      .text {
        color: white;
        padding-top: 30px;
        display: flex;
        justify-content: center;
      }
    }
    .contact {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      height: 25%;

      .info {
        padding-top: 30px;
        display: flex;
        justify-content: center;

        .textContact {
          font-size: 20px;
          color: white;
          margin-right: 20px;
        }
        .redcolor {
          color: red;
          display: flex;
          justify-content: space-between;
          letter-spacing: 20px;
        }
      }
    }
    .map {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      height: 25%;

      .button {
        padding-top: 80px;
        display: flex;
        justify-content: center;
        .backG {
          background-color: #c00a27;
          padding-top: 20px;
          padding-right: 30px;
          padding-left: 30px;
          padding-bottom: 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          .textC{
               color: white;
               font-size: 1.5rem;
          }
        }
      }
    }
  }
}
