<div class="footer">
  <div class="socialMedia">
    <div class="media">
      <i class="pi pi-facebook" style="font-size: 2rem"></i>
      <i class="pi pi-apple" style="font-size: 2rem"></i>
      <i class="pi pi-twitter" style="font-size: 2rem"></i>
      <i class="pi pi-github" style="font-size: 2rem"></i>
      <i class="pi pi-youtube" style="font-size: 2rem"></i>
    </div>
  </div>
  <div class="logo">
    <h2 class="text">𝓲𝓶𝓫𝓾𝓼 𝓕𝓸𝓸𝓭</h2>
  </div>
  <div class="contact">
    <div class="info">
      <span class="textContact">Imbus Order Food App</span>
      <span class="redcolor"> | </span>
      <span class="textContact"
        >901-947 South Drive, Houston, TX 77057, USA</span
      >
      <span class="redcolor"> | </span>
      <span class="textContact">Telephone: +1 555 1234</span>
      <span class="redcolor"> | </span>
      <span class="textContact">Telephone: +1 555 1234</span>
    </div>
  </div>
  <div class="map">
    <div class="button">
      <div class="backG">
        <i class="pi pi-map" style="font-size: 1.5rem; color: white; margin-right: 12px;"></i>
        <span class="textC">Find us on Map</span>
      </div>
    </div>
  </div>
</div>
