<div class="cards">
  <div class="leftCard">
    <h3 class="title">GRILLED CHICKEN</h3>
    <h4 class="subtitle">SUMMER PIZZA</h4>
    <span class="button">HOT &amp; SPICY</span>
  </div>
  <div class="rightCard">
    <div class="upperCard">
      <div class="leftUpperCard">
        <p class="titleLeft">FREE</p>
        <p class="titleLeftT">FRIES</p>
        <p class="titleLeftTT">FOR ONLINE ORDERS IN <br />APODEL</p>
      </div>
      <div class="rightUpperCard">
        <p class="rightLeft">ICED</p>
        <p class="rightLeftT">COFFEE</p>
        <p class="rightLeftTT">SUMMERS</p>
      </div>
    </div>
    <div class="lowerCard">
      <p class="above">
        <span class="titleL">ORDER</span>
        <span class="subtitleL">ONLINE</span>
      </p>
    </div>
  </div>
</div>
