:host {
  width: 100%;
  display: block;

  .slider {

    .backgroundIMG {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
  }
}
