<div class="space">
  <p>Goes Great With</p>
  <hr class="line" />
  <hr class="lineThrough" />
</div>
<div class="pickedFood">
  <p-card
    class="cards"
    header="Pepperoni Pizza"
    [style]="{ width: '300px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="../../assets/pizza-1-300x300.png" />
    </ng-template>
    <p>Extra-virgin olive oil, garlic, mozzarella cheese, onions...</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        label="Select Options"
        icon="pi pi-check-circle"
        class="p-button-danger"
        badge="8"
        badgeClass="p-badge-info"
      ></button>
    </ng-template>
  </p-card>
  <p-card
    class="cards"
    header="Trio Cheese"
    [style]="{ width: '300px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="../../assets/pizza-2-300x300.png" />
    </ng-template>
    <p>Mouth watering pepperoni, cabanossi, mushroom...</p>
    <ng-template pTemplate="footer"
      ><button
        pButton
        type="button"
        label="Select Options"
        icon="pi pi-check-circle"
        class="p-button-danger"
        badge="8"
        badgeClass="p-badge-info"
      ></button>
    </ng-template>
  </p-card>
  <p-card
    class="cards"
    header="Apricot Chicken"
    [style]="{ width: '300px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="../../assets/pizza-3-300x300.png" />
    </ng-template>
    <p>Crispy bacon, tasty ham, pineapple, onion and...</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        label="Select Options"
        icon="pi pi-check-circle"
        class="p-button-danger"
        badge="8"
        badgeClass="p-badge-info"
      ></button>
    </ng-template>
  </p-card>
  <p-card
    class="cards"
    header="Italiano Original"
    [style]="{ width: '300px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="../../assets/pizza-4-300x300.png" />
    </ng-template>
    <p>Ricotta, sun dried tomatoes, garlic, mozzarella cheese...</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        label="Select Options"
        icon="pi pi-check-circle"
        class="p-button-danger"
        badge="8"
        badgeClass="p-badge-info"
      ></button
    ></ng-template>
  </p-card>
</div>
